.translate-btn {
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.translate-btn:hover {
    background-color: #0d6efd;
    transform: scale(1.05);
}

textarea {
    resize: none;
    border-radius: 8px;
}


.position-relative {
    position: relative;
}
.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: .25rem;
}
.blur-while-loading {
    filter: blur(2px);
    transition: filter 0.3s;
}