<div class="sidebar" [class.collapsed]="isCollapsed">
  
  <div class="sidebar-header">
    <img src="assets/images/Logo.png" alt="logo" class="logo" *ngIf="!isCollapsed">
    
    <button class="toggle-btn" (click)="toggleSidebar()">
      <span>☰</span>
    </button>
  </div>

  <ul class="menu">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="!isCollapsed">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/translator" routerLinkActive="active">
        <mat-icon>translate</mat-icon>
        <span *ngIf="!isCollapsed">Translate</span>
      </a>
    </li>
    <li>
      <a routerLink="/history" routerLinkActive="active">
        <mat-icon>history</mat-icon>
        <span *ngIf="!isCollapsed">History</span>
      </a>
    </li>
    <li>
      <a routerLink="/detective" routerLinkActive="active">
        <mat-icon>person_search</mat-icon>
        <span *ngIf="!isCollapsed">Detective Mode</span>
      </a>
    </li>
    <li>
      <a routerLink="/custom" routerLinkActive="active">
        <mat-icon>code</mat-icon>
        <span *ngIf="!isCollapsed">Custom Code</span>
      </a>
    </li>
    <li>
      <a routerLink="/levels" routerLinkActive="active">
        <mat-icon>sort</mat-icon>
        <span *ngIf="!isCollapsed">Levels</span>
      </a>
    </li>
  </ul>

  <div class="sidebar-footer">
    <a (click)="handleAuthAction()">
      <mat-icon>logout</mat-icon>
      <span *ngIf="!isCollapsed">Logout</span>
    </a>
  </div>

</div>