@import '~ngx-toastr/toastr.css';

.toast-success {
  background-color: #28a745 !important;
}
.toast-error {
  background-color: #dc3545 !important;
}
.toast-warning {
  background-color: #ffc107 !important;
  color: #000 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
